<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="ServiceCommandContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=ServiceCommandContext; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=C:\Dev\Work\OE Phase II\Dev\ServiceLayerSpike\src\ServiceEngine.Services\ServiceCommandServices.Tests\App_Data\RepositoryTests.mdf"
      providerName="System.Data.SqlClient" />-->
    <add name="ServiceCommandContext" connectionString="Data Source=HOUDBDV005\SQL2008;Initial Catalog=ServiceEngineServices;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="ADOContext" connectionString="Data Source=HOUDBDV005\SQL2008;Initial Catalog=ServiceEngineServices;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>